
#the-Map{
	height: 680px;
    width: 635px;
}


.info-header{
	 border-bottom: thin solid #AAAAAA;
	padding : 5px 0;
}

.info-header h3{
	font-size : 16px;
 
	font-weight : bold;
	margin  :0;
}

.info-header h4{
	font-size : 14px; 
	margin : 0; 
	
}

.info-body p{ 
	font-size : 12px;
	margin  :0;
	border-bottom: thin solid #AAAAAA;
 
}

.info-body ul{ 
	padding : 0;
	margin : 0;
	list-style : none;
}

.info-body li {
	font-size : 12px;

}